#table-resp
{
	width: 716px;
	display: table;
	font-size: 12px;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	color: #000000;
}
#table-header
{
	display: table-header-group;
	height: 30px;
}
.table-header-cell-light, .table-header-cell-dark
{
	display: table-cell;
	border: 1px solid;
	border-color: #000000;
	border-collapse: collapse;
	vertical-align: middle;
	font-weight: bold;
}
.table-header-cell-light
{
	text-align: center;
	background-color: #b0dfdf;
}
.table-header-cell-dark
{
	padding: 5px;
	text-align: left;
	vertical-align: middle;
	background-color: #2d2f2f;
	font-size: 16px;
}
#table-body
{
	display: table-row-group;
}
.resp-table-row
{
	display: table-row;
}
.table-body-cell, .table-body-cell-bigger
{
	display: table-cell;
	border: 1px solid;
	border-color: #000000;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
}
.table-body-cell-bigger
{
	text-align: left;
	height: 20px;
	background-color: #cccccc;
	padding: 5px;
	color: #ffffff;
	font-size: 16px;
}
#texttable
{
	width: 90%;
	box-sizing: border-box;

}
#objectCode, #objectName
{
	height: 30px;
	font-size: 20px;
}
#objectCode
{
	width: 80px;
}
#objectName
{
	width: 200px;
}

#objectCreator
{
	text-align: right;

}
#objectCreateTime
{
	text-align: right;

}
#objectText
{
	box-sizing: border-box;
	border: 1px solid black;
	background-color: #660000;
	padding: 20px;
	margin-top: 20px;
	width: 90%;
}
#editButton
{
	display: flex;
  	align-items: center;
	justify-content: center;
	border-collapse: collapse;
	border: 2px solid black;
	border-spacing: 0px; 
	padding: 5px;
	background-color: #990000;
	width: 100px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
#securityTable
{
	border: 1px solid black;
	background-color: #660000;
	width: 90%;
}
.securityCell
{
	padding: 20px;
}
.imageDeleteButton
{
	position: absolute;
	z-index: 999;
	background-color: #660000;
	color:white;
	border: 1px solid black;
	border-radius: 20%;
	width: 15px;
	height: 15px;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
}